<p class="alert alert-info fade in" ng-hide="vm.ready || vm.error">
    <span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Loading data (this may take up to 30 seconds)...
</p>

<p class="alert alert-warning" ng-show="vm.results && vm.results.length == 0">
    No results match your search.
</p>

<p class="alert alert-danger fade in" ng-show="vm.error">
    Error loading data. Please try again later.
</p>

<div class="form" ng-show="vm.ready">
    <div class="form-group">
        <label for="license-number">Business License Number</label>
        <input type="text" id="license-number" class="form-control" ng-model="vm.id" />
    </div>

    <div class="form-group">
        <label for="license-number">Business Name</label>
        <input type="text" id="business-name" class="form-control" ng-model="vm.dba" />
    </div>

    <div class="form-group">
        <label for="business-category">Business Category</label>
        <select id="business-category" class="form-control" ng-model="vm.category" ng-options="c for c in vm.categories"></select>
    </div>

    <div class="form-group">
        <label for="license-number">Business Address</label>
        <input type="text" id="business-address" class="form-control" ng-model="vm.address" />
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="vm.search()">Search</button>
        <button type="button" class="btn btn-default" ng-click="vm.reset()">Clear</button>
        <button type="button" class="btn btn-secondary pull-right" ng-show="vm.results && vm.results.length > 0" ng-csv="vm.results" csv-header="['License Number', 'Business Name', 'Address', 'City', 'State', 'Zip', 'Business Category']" filename="business-licenses.csv">Export to CSV</button>
    </div>
</div>

<div ng-show="vm.results && vm.results.length > 0">
    <h2>Results</h2>
    <table class="table-custom table table-striped" ng-table="vm.tableParams">
        <tr ng-repeat="business in $data">
            <td data-title="'License No.'" sortable="'license_number'">{{ business.license_number }}</td>
            <td data-title="'Name'" sortable="'dba'">{{ business.dba }}</td>
            <td data-title="'Category'" sortable="'business_type'">{{ business.business_type }}</td>
            <td data-title="'Address'">
                <span ng-if="business.address && business.city && business.state && business.zip_code">
                    <a href="https://www.google.com/maps/place/{{ business.address | replace:'\\.':'' | replace:'\\s':'+' }},+{{ business.city | replace:'\\s':'+' }},+{{ business.state }}+{{ business.zip_code }}"
                       target="_blank">
                        {{ business.address }}
                        <br />
                        {{ business.city }}, {{ business.state }} {{ business.zip_code }}
                    </a>
                </span>
            </td>
        </tr>
    </table>
</div>